.token {
    padding: 12px 0;
    min-height: 60px;
}
#walletTokenWrap{
    background: #383E53;
    color: white;
    font-weight: 400;
    z-index: 800;
    margin-bottom: 8px;
    border-top-right-radius: 8px;
    ;
}
// .b ul li .active{
//     background-color: #2E364B !important;
// }
#inputStyle{
    background-color:  #2b3247;
    border-radius: 5px;
    color: white !important;
}
.nav-item.active{
    background: linear-gradient(75deg, #65aa88, #65aa88 40%, #7CC0D3 100%) !important;
    
}
